.footer {
  display: flex;
  justify-content: space-between;
}

.footer__grid {}

.footer__grid--copyright {
  width: 60%;
}

.footer__grid--nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.footer__description {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
}

.footer__copyright {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  opacity: 0.5;
}

.footer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fbd784;
}

.footer__list {}

.footer__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
}

.footer__item + .footer__item {
  margin-top: 16px;
}

.footer__link {
  color: inherit;
}

.footer__link:hover,
.footer__link:focus,
.footer__link:active {
  opacity: 0.5;
}
