.promo {}

.promo__title {
  font-size: 88px;
  line-height: 100px;
  text-transform: capitalize;
}

.promo__contacts {
  display: flex;
}

.promo__contacts-title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.promo__list {
  display: flex;
}

.promo__subtitle {
  display: inline-block;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}

.promo__subtitle::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 24px;
  width: 72px;
  height: 2px;
  background-color: #fbd784;
}
