.step {}

.step__list {}

.step__item {
  display: flex;
  justify-content: space-between;
}

.step__item + .step__item {
  margin-top: 200px;
}

.step__content {
  position: relative;
  padding-left: 150px;
  padding-top: 141px;
}

.step__number {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 240px;
  line-height: 1;
  color: #fff;
  opacity: 0.1;
}

.step__subtitle {
  display: inline-block;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}

.step__subtitle::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 24px;
  width: 72px;
  height: 2px;
  background-color: #fbd784;
}

.step__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
}

.step__description {}

.step__link {
  font-size: 18px;
  line-height: 22px;
  color: #fbd784;
}

.step__link:hover {
  opacity: 0.5;
}

.step__link-icon {}

.step__link:hover .step__link-icon {
  transform: translateX(5px);
}

.step__image {}

.step__item--left .step__image {
  margin-left: 114px;
}

.step__item--right .step__image {
  margin-right: 114px;
}
